body{
    background-image:linear-gradient(to bottom,rgba(30, 16, 16, 0),rgba(48, 0, 0, 0)),url("./lab.png");
    background-size: cover;
    background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

h1{
    text-align: center;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    color: brown;
}

main{
    text-align: center;
    color:rgb(255, 99, 99);
    font-size: 20px;
}

footer {
    justify-content: center;
    align-content: center;
	background-color: #333;
	color: #fff;
    font-size: 28px;
    margin-top: 30px;
    padding: 1rem;
	text-align: center;
}
